<%- include("partials/head.ejs") %>
<link rel="stylesheet" href="css/dashboard.css">
<script defer src="/js/dashboard.js"></script>
<%- include("partials/nav.ejs")  %>
    <main>
        <section id = "listProducts">
        </section>
<%- include("partials/footer.ejs") %>
