<%- include("partials/head.ejs") %>
<link rel="stylesheet" href="css/modify_product.css">
<script defer src="/js/modify_product.js"></script>
<%- include("partials/nav.ejs")  %>
    <main>
        <form id="modify_product_box">
            <h2>Modificar producto</h2>
            <input type="text" name="id" id="id" placeholder="id" required>
            <input type="submit" id="submit_button" value="Buscar">
            
            
            
        </form>
        <section id="newForm">
            
        </section>

    </main>
<%- include("partials/footer.ejs") %>