@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single&display=swap');

:root{
  --blue-background-nav: #0477bf;
  /*Hacer un var para la fuente*/
}

body{margin: 2rem;
background-color: #4A51D9;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0.5rem 1rem;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2); /*leve sombra para genera separación*/
  border-radius: 10px;
  font-family: 'Bitcount Grid Single', sans-serif;
  color: var(--blue-background-nav)
}

/*seccion productos*/

main {
  background-color: white;                
  padding: 30px;/* margen interior */                   
  margin: 20px; /* separación externa */
}

.title{
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-between;
}

#image_icon{
  width: 5.5rem;
}

#search input{
  width: 13rem;
  padding: 8px 12px;
  border: none;
  text-align: center;
}

#menu{
  display: flex;
  gap: 20px;
}

#home{
  width: 6rem;
}

#shop{
  width: 6rem;
  padding-top: 0.3rem;
}

/* cards productos*/
#listProducts {
  flex: 1;                  /* ocupa todo el espacio sobrante */
  display: flex;            /* organiza las cartas en fila */
  flex-wrap: wrap;          /* pasa a otra línea si no entran */
  gap: 20px;                /* espacio entre cartas */
  justify-content: center; /* alinea a la izquierda */
}

#cart {
  background-color: white;   
  border-top: 1px solid #ddd;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
}

/* Título */
#cart h2 {
  font-size: 1.4rem;
  margin-bottom: 15px;
  font-family: 'Bitcount Grid Single', sans-serif;
}

#cart-title{
  display: flex;
  justify-content: center;
}

#cart-title h2{
  padding-top:0.5rem;
}

#img-cart{
  width: 5rem;
}

/* Lista de productos */
#list {
  list-style: none;
  padding: 0;
  margin: 0 auto 20px auto;
  max-width: 600px;
}

#buy{  background-color: var(--blue-background-nav);
  color: #f2f2f2;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-family: 'Bitcount Grid Single', sans-serif;
}

/*Pie del carrito (Vaciar + Total) */
.cart-footer {
display: flex;
justify-content: space-between; 
align-items: center;
width: 100%;                   
margin: 0 auto;                
padding: 10px 20px;            
box-sizing: border-box;
}

/* Botón Vaciar */
#btnClear {
  background-color: var(--blue-background-nav);
  color: #f2f2f2;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-family: 'Bitcount Grid Single', sans-serif;
}

#total{
  font-family: 'Bitcount Grid Single', sans-serif;
}


/*Objetos html agregados desde js*/
.card-products {
  background-color: #fff;          /* fondo blanco */
  border-radius: 10px;             /* bordes redondeados */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* sombra suave */
  padding: 15px;                   /* espacio interno */
  text-align: center;              /* centra el texto */
  width: 300px;                    /* ancho fijo */
}
.card-products img {
  width: 12rem;             /* ocupa todo el ancho */
  height: 150px;           /* altura fija */
  border-radius: 10px;     /* esquinas redondeadas */
  margin-bottom: 10px;     /* separa del texto */
}
/*boton agregar*/
.card-products button {
  background-color: var(--blue-background-nav);
  color:white; 
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-family: 'Bitcount Grid Single', sans-serif;
}

/* Cada ítem */
.item-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  border-radius: 6px;
  padding: 8px 12px;
  margin-bottom: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

/* Texto del producto */
.item-cart p {
  flex-grow: 1;
  text-align: left;
  margin: 0 10px;
  font-family: 'Bitcount Grid Single', sans-serif;
}
#item-photo{
  width: 6rem;
}

#btn-delete{
  background-color: var(--blue-background-nav);
  color: #f2f2f2;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-family: 'Bitcount Grid Single', sans-serif;
}