@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single&display=swap');

:root{
    --blue-background-nav: #0477bf;
}

body{margin: 2rem;
    background-color: #4A51D9;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0.5rem 1rem;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2); /*leve sombra para genera separación*/
    border-radius: 10px;
    font-family: 'Bitcount Grid Single', sans-serif;
    color: var(--blue-background-nav)
}

/*seccion productos*/

main {
    background-color: white;                
    padding: 30px;/* margen interior */                   
    margin: 20px; /* separación externa */
}

.title{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
}

#image_icon{
    width: 5.5rem;
}

#menu{
    display: flex;
    gap: 20px;
}

#home{
    width: 6rem;
}

#shop{
    width: 6rem;
    padding-top: 0.3rem;
}

#data{display: flex;
    justify-content: space-between;
    color: var(--blue-background-nav);
    font-size: 1.5rem;
    font-family: 'Bitcount Grid Single', sans-serif;
}

#userName{
    margin-left: 16rem;
}

#cart {
    background-color: white;   
    border-top: 1px solid #ddd;
    margin-top: 40px;
    padding: 20px;
    text-align: center;
}

#cart-title{
    display: flex;
    justify-content: center;
}

#cart-title h2{
    padding-top:0.5rem;
}

#img-cart{
    width: 5rem;
}

#cartProducts {
    list-style: none;
    padding: 0;
    margin: 0 auto 20px auto;
    max-width: 600px;
    
}

#buy{  background-color: var(--blue-background-nav);
    color: #f2f2f2;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-family: 'Bitcount Grid Single', sans-serif;
}

#cancel{  background-color: var(--blue-background-nav);
    color: #f2f2f2;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-family: 'Bitcount Grid Single', sans-serif;
}

.item-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    border-radius: 6px;
    padding: 8px 12px;
    margin-bottom: 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

/* Texto del producto */
.item-cart p {
    flex-grow: 1;
    text-align: left;
    margin: 0 10px;
    font-family: 'Bitcount Grid Single', sans-serif;
}
#item-photo{
    width: 6rem;
}

/*Pie del carrito (Vaciar + Total) */
.cart-footer {
display: flex;
justify-content: center; 
align-items: center;
width: 100%;                   
margin: 0 auto;                
padding: 10px 20px;            
box-sizing: border-box;
}

#total{
    font-family: 'Bitcount Grid Single', sans-serif;
}