<header>
        <nav>
            <div class="title">
                <img id = "image_icon"src="..\..\img\gear.png" alt="Icon">
                <h1>GEAR UP</h1>
            </div>

            <h2>Ezequiel y Guido</h2>

            <div id = "menu_container">
                <a href="dashboard">Dashboard</a>
                <a href="add_product">Agregar</a>
                <a href="modify_product">Modificar</a>
                <a href="delete_product">Borrar</a>
            </div>
            <div id = "menu">
                <a href="/">
                    <img id="home" src="..\..\img\home.png" alt="">
                </a>

            </div>

        </nav>
    </header>